mat-drawer{
    width: 250px !important;
}
mat-icon{
    cursor: pointer;
}
.nav{
    width: 100%;
    background-color: #27c8a4;
}
h5{
    cursor: pointer;
    border: none;
}
h5:hover{
border: none;
outline: none;
}