main{
    background-color: transparent;
    min-width: 100% !important;
    min-height: 100vh !important;
    padding-top: 20px;
    background-image:linear-gradient(to right, #4a60bf,#854c8d);
}
form.container{
    padding-top: 10px;
    width: 400px !important;
    background-color: white  !important;
    border-radius: 9px;
}
h3{
    border-bottom: 2px solid rgb(184, 184, 184);
    padding-bottom: 35px;
    color: rgb(77, 147, 238);
    width: 90%;
    margin-left: 5%;
}
mat-form-field{
    width: 90%;
    margin: 5%;
}
.form-control, .form-select{
    width: 90%;
    margin: 5%;
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    border-radius: 0px;
    height: 55px !important;
}
.form-control:focus, .form-select{
    box-shadow: none;
}
.btn-pill{
    margin-left: auto;
    margin-right: auto;
    width: 70% !important;
    border: 1px solid black;
    color:rgb(77, 147, 238);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 16px;
    background-color: #f0f0f0;
}
.login{
    background-color: transparent;
    color: rgb(77, 147, 238);
}
.password{
    position: relative;
}
mat-icon.pointer{
    margin-top: 10px;
    position: absolute;
    top: 14px;
    right: 25px;
    cursor: pointer;
    color: rgb(77, 147, 238);
}
.password input {
    height: 50px;
    margin-top: 6px;
}
@media (max-width : 767px) {
    form.container{
        padding-top: 10px;
        width: 320px !important;
        padding-top: 60px;
    }
    main{
        width: 100%;
    }
}
.form-control::placeholder{
    color: #9b9b9b;
    font-weight: bold;
}
::ng-deep .mat-mdc-select-placeholder{
    color: #9b9b9b !important;
    font-weight: bold !important;
}
::ng-deep .mat-mdc-select-arrow{
    color: rgb(77, 147, 238) !important;
  }