<main class=" py-5  animate__animated  animate__fadeIn ">
    <h1 class="text-center fs-1" >Manage Employyes Data</h1>

<div class="container d-flex justify-content-between align-items-center header-action">
    <button class="btn btn-info text-white fw-Semibold my-2" routerLink="/newEmployeeForm" >Add New Employee  <mat-icon class="add-person" >person_add</mat-icon> </button>
      <button class="btn-filter"  mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="filter" >filter_alt</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="filterJopTittle('All')" >All</button>
        <button mat-menu-item *ngFor="let JopId of jopsId"  (click)="filterJopTittle(JopId.jobtitle)" >{{JopId.jobtitle}}</button>
    </mat-menu>
</div>

<div class="container my-5 ">
    <mat-accordion class="example-headers-align" multi>
        <ul class="header-ul" > 
            <li class="fw-Semibold  fs-5" >Employee Name</li>
            <li class="second fw-Semibold fs-5 jop-tittle">Jop Tittle</li>
            <li class="last fw-Semibold fs-5" >Department</li>
        </ul>
        <mat-expansion-panel *ngFor="let EmployeeData of allEmployeeData;let i = index" Class=" animate__animated  animate__fadeIn" >
            <mat-expansion-panel-header class="specific-class" >
            <mat-panel-title>
                <div class="d-flex  justify-content-between">
                    <span class="d-block" > {{EmployeeData.value.firstname}} {{EmployeeData.value.midname}} {{EmployeeData.value.lastname}}</span>
                    <mat-icon matSuffix class="d-block ms-2" >account_circle</mat-icon>
                </div>
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-between">
                <div class="d-flex jop-tittle ">
                    {{EmployeeData.value.jobtitle}} 
                </div>
                <div class="d-flex">
                    <div class="d-block" *ngIf="EmployeeData.value.departmentid == '1'" >إدارة الموارد البشرية</div>
                    <div class="d-block" *ngIf="EmployeeData.value.departmentid == '6'" >DepartmentUpdateTest</div>
                    <div class="d-block" *ngIf="EmployeeData.value.departmentid == ' 5'" >DepartmentTest2</div>
                    <div class="d-block" *ngIf="EmployeeData.value.departmentid == '3'" >إدارة الحساب الالى</div>
                </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="EmployeeData" class="my-2">
            <div class="personal-Data">
                <!-- <h2 class="sub-tittle">personal Data</h2> -->
                <div class="d-flex justify-content-center section-1">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="EX. Michael" formControlName="firstname">
                        <mat-icon matSuffix>badge</mat-icon>
                        <!-- <mat-error>{{FirstNameErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="EX. Ramzy" formControlName="midname" >
                        <mat-icon matSuffix>badge</mat-icon>
                        <!-- <mat-error>{{middletNameErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                    <div class="d-flex justify-content-center section-2 ">
                        <mat-form-field appearance="outline" class="mx-1" >
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="EX. Habib" formControlName="lastname" >
                            <mat-icon matSuffix>badge</mat-icon>
                            <!-- <mat-error>{{lastNameErrorNessage()}}</mat-error> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mx-1" >
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" >
                            <mat-option value="male" >Male</mat-option>
                            <mat-option value="Female" >Female</mat-option>
                            </mat-select>
                            <!-- <mat-error>{{GenderErrorNessage()}}</mat-error> -->
                        </mat-form-field>
                </div>
            </div>
            <div class="idintifction-Data">
                <!-- <h2 class="sub-tittle">Identification Data</h2> -->
                <div class="d-flex justify-content-center section-1 ">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Identification Type</mat-label>
                        <mat-select formControlName="documentType" >
                        <mat-option value="passport" >passport</mat-option>
                        <mat-option value="National ID" >National ID</mat-option>
                        </mat-select>
                        <!-- <mat-error>{{GenderErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Identification Number</mat-label>
                        <input matInput placeholder="EX. 24916483" formControlName="docNo" >
                        <mat-icon matSuffix><i class="fa-solid fa-id-card"></i></mat-icon>
                        <!-- <mat-error>{{DocumentNumberErrorNessage()}}</mat-error> -->
                    </mat-form-field>
            </div>
            </div>
            <div class="eduction-Data">
                <!-- <h2 class="sub-tittle">Eduction Data</h2> -->
                <div class="d-flex justify-content-center section-1">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Eduction Degree</mat-label>
                        <mat-select formControlName="education" >
                        <mat-option value="Bachelor's Degree" >Bachelor's Degree</mat-option>
                        <mat-option value="Master's Degree" >Master's Degree</mat-option>
                        <mat-option value="Doctorate" >Doctorate</mat-option>
                        <mat-option value="other" >other</mat-option>
                        </mat-select>
                        <!-- <mat-error>{{EductionDegreeErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>School Name</mat-label>
                        <input matInput placeholder="EX. Cairo Universty" formControlName="schoolName" >
                        <mat-icon matSuffix>school</mat-icon>
                        <!-- <mat-error>{{SchoolNameErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="contact-Data ">
                <!-- <h2 class="sub-tittle">Contact Data</h2> -->
                <div class="d-flex justify-content-center section-1">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="EX. ramzymika@gmail.com" formControlName="email"  >
                        <mat-icon matSuffix>mail</mat-icon>
                        <!-- <mat-error>{{mailErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="EX. +201222353187" formControlName="phonenumber" >
                        <mat-icon matSuffix>phone</mat-icon>
                        <!-- <mat-error>{{phoneErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>ٍPostal Code</mat-label>
                        <input matInput placeholder="EX. 24916483" formControlName="postalCode" >
                        <mat-icon matSuffix>markunread_mailbox</mat-icon>
                        <!-- <mat-error>{{postalCodeErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center section-2">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>ٍStreet Address</mat-label>
                        <input matInput placeholder="EX. 7 Gamal Abd ALnasser"  formControlName="streetAddress" >
                        <mat-icon matSuffix>home</mat-icon>
                        <!-- <mat-error>{{AddressErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>ٍCity</mat-label>
                        <input matInput placeholder="EX. Cairo" formControlName="city" >
                        <mat-icon matSuffix>location_city</mat-icon>
                        <!-- <mat-error>{{cityErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div> 
                    <div class="d-flex justify-content-center section-3 ">
                        <mat-form-field appearance="outline" class="mx-1" >
                            <mat-label>ٍState</mat-label>
                            <input matInput placeholder="EX. Cairo" formControlName="state" >
                            <mat-icon matSuffix>public</mat-icon>
                            <!-- <mat-error>{{phoneErrorNessage()}}</mat-error> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mx-1" >
                            <mat-label>Country</mat-label>
                            <input matInput placeholder="EX. Country" formControlName="country" >
                            <mat-icon matSuffix>public</mat-icon>
                            <!-- <mat-error>{{countryErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                    </div>
                                       
            </div>
            <div class="jop-Data">
                <!-- <h2 class="sub-tittle">Jop Data</h2> -->
                <div class="d-flex justify-content-center section-1">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Hire Type</mat-label>
                        <mat-select formControlName="hireType" >
                        <mat-option value="Permanent employee" >Permanent employee</mat-option>
                        <mat-option value="Contract" >Contract</mat-option>
                        </mat-select>
                        <!-- <mat-error>{{HireTypeErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Hire Date</mat-label>
                        <input matInput [matDatepicker]="picker" readonly="true" formControlName="hiredate">
                        <!-- <mat-error>{{HireDateErrorNessage()}}</mat-error> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>  
                </div>
                <div class="d-flex justify-content-center section-2 ">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Jop Name</mat-label>
                        <mat-select placeholder="EX. 25645181811" formControlName="jobid">
                        <mat-option *ngFor="let jopId of jopsId" [value]="jopId.id" >{{jopId.jobtitle}}</mat-option>
                        <!-- <mat-option value="1" >Backend</mat-option>
                        <mat-option value="2" >Manager</mat-option> -->
                        </mat-select>
                        <!-- <mat-error>{{jopIDErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Manager Name</mat-label>
                        <mat-select placeholder="EX. 25645181811" formControlName="managerid">
                        <mat-option value="1" >x</mat-option>
                        <mat-option value="2" >y</mat-option>
                        <mat-option value="3" >z</mat-option>
                        </mat-select>
                        <!-- <mat-error>{{EductionDegreeErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Department Name</mat-label>
                        <mat-select placeholder="EX. 25645181811" formControlName="departmentid" >
                        <mat-option *ngFor="let DepartmentID of DepartmentsID" [value]="DepartmentID.id" >{{DepartmentID.name}}</mat-option>
                        </mat-select>
                        <!-- <mat-error>{{EductionDegreeErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center section-3">
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Branch Name</mat-label>
                        <mat-select placeholder="EX. 25645181811" formControlName="branchsName" >
                        <mat-option *ngFor="let BranchId of BranchsId"  [value]="BranchId.id" >{{BranchId.name}}</mat-option>
    
                        </mat-select>
                        <!-- <mat-error>{{EductionDegreeErrorNessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Vacation Hours</mat-label>
                        <input type="number" matInput placeholder="EX. 10" formControlName="vacationHours" >
                        <mat-icon matSuffix>hourglass_empty</mat-icon>
                        <!-- <mat-error>{{VacationHoursErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-1" >
                        <mat-label>Sick Leave Hours</mat-label>
                        <input type="number" matInput placeholder="EX. 10" formControlName="sickLeaveHours" >
                        <mat-icon matSuffix>hourglass_top</mat-icon>
                        <!-- <mat-error>{{SickLeaveHoursErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex buttons justify-content-end">
                <button class="btn btn-danger mx-1"  (click)="DeleteUser(EmployeeData)" >Delete</button>
                <button class="btn btn-success mx-1"(click)="updateUser(EmployeeData)" >Update</button>
            </div>
        </form>
        </mat-expansion-panel>
      </mat-accordion>
</div>
<div class="container">
    <mat-paginator  
    [length]= "length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="pageEvent = getServerData($event)">
</mat-paginator>
</div>


<div class="loading-layout" *ngIf="loading" >
    <mat-progress-spinner  class="spinner" color="primary" mode="indeterminate" ></mat-progress-spinner>
</div>
</main>


  

