main{
  background-color: #efefef;
  min-height: 100vh;
}
@keyframes move-left {
    50% {
        left: 0;
    }
    100%{
        width: calc(50% + 1px);
        height: calc(100% + 1px);
        border-radius: 0;
        left: 0;
    }
}
@keyframes move-right {
    50% {
        right: 0;
    }
    100%{
        width: 50%;
        height: calc(100% + 1px);
        border-radius: 0;
        right: 0;
    }
}
.main-tittle {
    text-transform: uppercase;
    margin: 0 auto 30px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    color: black;
}
.main-tittle:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-tittle::before,
.main-tittle::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color:#27c8a4;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-tittle::before {
    left: -30px;
}
.main-tittle::after {
    right: -30px;
}
.main-tittle:hover {
    color: white;
    border: none;
    transition-delay: 0.5s;
}
.main-tittle:hover::before {
    z-index: -1;
    animation: move-left 0.5s linear forwards;
}
.main-tittle:hover::after {
    z-index: -1;
    animation: move-right 0.5s linear forwards;
}
form{
  width: 100%;
}
table {
    width: 100%;
  }
  
tr.example-detail-row {
  height: 0;
}
  
  /* tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  } */
  
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
mat-icon{
  color: #27c8a4;
  border: none !important;
  background-color: none !important;
}
.button-icon{
  color: #27c8a4;
  border: none !important;
  background-color: white !important;
}
.personal-Data .section-1 mat-form-field,
.personal-Data .section-2 mat-form-field,
.eduction-Data .section-1 mat-form-field,
.idintifction-Data .section-1 mat-form-field{
    width: calc(98%/2);
}
.jop-Data .section-1 mat-form-field{
  width: calc(98%/2);

}

.jop-Data .section-2 mat-form-field,
.jop-Data .section-3 mat-form-field{
      width: calc(97%/3);
}
.contact-Data .section-1 mat-form-field{
  width: calc(97%/3);

}
.contact-Data .section-2 mat-form-field,
.contact-Data .section-3 mat-form-field{
  width: calc(98%/2);

}
@media (max-width : 992px) {
  /* .contact-Data .section-2 mat-form-field {
    width: calc(96%/2);
} */
.section-1,
.section-2,
.section-3,
.section-4 {
    flex-wrap: wrap;
}
mat-form-field {
width: 100% !important;
}
  .mat-elevation-z8 {
      width: 98% !important;   
  }
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
}
.loading-layout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
} 
::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: #27c8a4;
}
mat-panel-title{
  width: 50% !important;
}
mat-icon.icon{
  /* margin-right: 20px; */
  color: #27c8a4;
  /* margin-left: 50px; */
}
button.btn-info{
  width: 240px;
  height: 43px !important;
}
.btn-filter{
  border: 1px solid #27c8a4;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.add-person{
  color: white;
  padding-left: 5px !important;
  padding-right: 27px;
  padding-top: 5px;}
.jop-icon{
  color: #27c8a4;
  margin-left: 150px;
}
::ng-deep .mat-mdc-select-arrow{
  color: #27c8a4 !important;
}
::ng-deep mat-datepicker{
  color: #27c8a4 !important;
}
::ng-deep mat-datepicker-toggle{
  color: #27c8a4 !important;
}
.header-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width : 767px) {
  .jop-tittle{
    display: none !important;
  }  
  .header-action .filter {
    margin-top: 5px;
  }
}

.header-ul .last{
margin-right: 25px;
}
.header-ul .second{
margin-left: 25px;
}
mat-panel-title{
  min-width: 47% !important;
}