.navbar{
    background-color: rgb(255, 255, 255) !important;
}
.nav-link .d-flex{
    background-color: aqua;
    padding: 8px 24px;
    border-radius: 25px;
}
.nav-item i{
    color: #7c7c7c;
    background-color: transparent;
    
}
mat-icon.fs-2{
    color: #7c7c7c;
    overflow: visible;
}
.form-control{
    background-color: #f2f2f2;
    color: white;
}
li a.nav-link {
    color: #7c7c7c;

}
/* .form-control::placeholder{
    color: white;
} */