<h3>Add New Project</h3>
<form  class="p-2 m-2" [formGroup]="addProjectForm" >
    <div class="example-container d-flex flex-column justify-content-center align-items-center">
        <mat-form-field appearance="outline" class="w-100" >
          <mat-label>Name</mat-label>
          <input matInput #input maxlength="25" 
          placeholder="Ex. villa" formControlName="projectname" >
          <mat-hint align="end">{{input.value.length}}/25</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select placeholder="EX. Type" formControlName="typeId"   >
            <mat-option *ngFor="let GroupType of GroupsType" [value]="GroupType.id">
                {{GroupType.typeEn}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Location</mat-label>
            <input matInput #input maxlength="25" 
            placeholder="Ex. Cairo" formControlName="location" >
            <mat-hint align="end">{{input.value.length}}/25</mat-hint>
          </mat-form-field>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column mx-1">
            <mat-form-field floatLabel="always" class="mx-1" appearance="outline">
                <mat-label>Budget</mat-label>
                <input matInput formControlName="budget" type="number" class="example-right-align" placeholder="EX. 2500">
                <span matTextPrefix>$&nbsp;</span>
                <!-- <mat-error>{{budgetErrorNessage()}}</mat-error>  -->
            </mat-form-field>
        </div>
        <div class="d-flex flex-column mx-1">
            <mat-form-field class="" appearance="outline">   
                <mat-label>Start Date</mat-label>              
              <input matInput formControlName="startdate" [matDatepicker]="dp3" readonly="true" placeholder="EX. 30/12/1997" >
              <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              <!-- <mat-error>{{startdateErrorNessage()}}</mat-error>  -->
            </mat-form-field>
        </div>
        <div class="d-flex flex-column mx-1">
            <mat-form-field class="" appearance="outline">
                <mat-label>End Date</mat-label>
              <input matInput formControlName="enddate"  [matDatepicker]="dp4" readonly="true" placeholder="EX. 30/12/1997">
              <mat-datepicker-toggle matIconSuffix [for]="dp4"></mat-datepicker-toggle>
              <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              <!-- <mat-error>{{enddateErrorNessage()}}</mat-error>  -->
            </mat-form-field>   
        </div>              
    </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="addNewProject(addProjectForm)">Add Project </button>
      </div>
  </form>