<nav class="d-flex justify-content-between align-items-center">
    <span class="fw-bold fs-4" >NEW UNIT</span>
    <div class="d-flex">
        <button class="btn fw-bold text-white" (click)="openDialogProject()" > Projects</button>
        <button class="btn fw-bold text-white" (click)="openDialogType()"> Types</button>
    </div>
</nav>
<main class="container py-3 animate__bounceIn animate__animated  ">
    <form [formGroup]="AddNewUnitForm" >
        <div class="d-flex justify-content-center section-3">
            <p class="d-flex flex-column mx-1">
                <app-projects [parent]="AddNewUnitForm" ></app-projects>
            </p>
            <p class="d-flex flex-column mx-1 ">
                <mat-label class="asterix--before" >Unit Number</mat-label>
                <mat-form-field appearance="fill">
                    <input formControlName="UnitNO"  required matInput placeholder="Ex. 4">
                <mat-error>{{UnitNOErrorNessage()}}</mat-error>  
                </mat-form-field>
            </p>
            <p class="d-flex flex-column mx-1">
                <mat-label>Block</mat-label>
                <mat-form-field appearance="fill">
                    <input type="number" formControlName="Block"  required matInput placeholder="EX. 6">  
                </mat-form-field>
            </p>
        </div>
        <div class="d-flex justify-content-center section-3">
            <p class="d-flex flex-column mx-1">

                <app-types-components [parent]="AddNewUnitForm" ></app-types-components>

            </p>
            <p class="d-flex flex-column mx-1 ">
                <mat-label>Design Number</mat-label>
                <mat-form-field appearance="fill">
                    <input #input1 maxlength="25" formControlName="DesignNo"  matInput placeholder="EX. 8">
                    <mat-hint align="end">{{input1.value.length}}/25</mat-hint>
                    <mat-error>{{DesignNoErrorNessage()}}</mat-error> 
                </mat-form-field>
                  
            </p>
            <p class="d-flex flex-column mx-1">
                <mat-label>Floor Number</mat-label>
                <mat-form-field appearance="fill">
                    <input type="number" formControlName="FloorNo" matInput placeholder="EX. 5 ">
                </mat-form-field>
            </p>
        </div>
        <div class="d-flex justify-content-center section-2 ">
            <p class="d-flex flex-column mx-1 ">
                <mat-label>land Number</mat-label>
                <mat-form-field appearance="fill">
                    <input maxlength="25" #input2 formControlName="landNo" matInput placeholder="EX. Land Number">
                    <mat-hint align="end">{{input2.value.length}}/25</mat-hint>
                    <mat-error>{{landNoErrorNessage()}}</mat-error> 
                </mat-form-field>
            </p>
            <p class="d-flex flex-column mx-1 ">
                <mat-label>Construction Dimension</mat-label>
                <mat-form-field appearance="fill">
                    <input #input3 maxlength="25" formControlName="ConstructionDimension"  matInput placeholder="EX. 25*60">
                    <mat-hint align="end">{{input3.value.length}}/25</mat-hint>
                    <mat-error>{{ConstructionDimensionErrorNessage()}}</mat-error> 
                </mat-form-field>
            </p>
        </div>
        <div class="d-flex justify-content-center  section-3">
            <p class="d-flex flex-column mx-1">
                <mat-label class="asterix--before">Lot Size</mat-label>
                <mat-form-field appearance="fill">
                    <input type="number" formControlName="LotSize" matInput placeholder="EX. 7">
                    <mat-error>{{LotSizeErrorNessage()}}</mat-error> 
                </mat-form-field>
            </p>
            <p class="d-flex flex-column mx-1">
                <mat-label>bath rooms</mat-label>
                <mat-form-field appearance="fill">
                    <input type="number" formControlName="bathrooms" matInput placeholder="EX. 5">
                </mat-form-field>
            </p>
            <p class="d-flex flex-column mx-1">
                <mat-label>bed rooms</mat-label>
                <mat-form-field appearance="fill">
                    <input type="number" formControlName="bedrooms" matInput placeholder="EX. 3">
                </mat-form-field>
            </p>
        </div>
        <div class="d-flex section-1 ">
            <p class="d-flex flex-column">
                <mat-label>Description</mat-label>
                <mat-form-field>
                    <textarea matInput maxlength="225" #input4 formControlName="description" placeholder="EX. Project in Berlin with ......." ></textarea>
                    <mat-hint align="end">{{input4.value.length}}/225</mat-hint>

                    <mat-error>{{descriptionErrorNessage()}}</mat-error> 
                </mat-form-field>
            </p>
        </div>
        <div class="d-flex section-3">
            <div class="d-flex flex-column mx-1">
                <mat-label class="asterix--before">Budget</mat-label>
                <mat-form-field floatLabel="always" class="mx-1" >
                    <input matInput formControlName="budget" type="number" class="example-right-align" placeholder="EX. 2500">
                    <span matTextPrefix>$&nbsp;</span>
                    <mat-error>{{budgetErrorNessage()}}</mat-error> 
                </mat-form-field>
            </div>
            <div class="d-flex flex-column mx-1">
                <mat-label class="asterix--before" >Start Date</mat-label>
                <mat-form-field class="" >                 
                  <input matInput formControlName="startdate" [matDatepicker]="dp3" readonly="true" placeholder="EX. 30/12/1997" >
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                  <mat-error>{{startdateErrorNessage()}}</mat-error> 
                </mat-form-field>
            </div>
            <div class="d-flex flex-column mx-1">
                <mat-label class="asterix--before" >End Date</mat-label>
                <mat-form-field class="" >
                  <input matInput formControlName="enddate"  [matDatepicker]="dp4" readonly="true" placeholder="EX. 30/12/1997">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="dp4"></mat-datepicker-toggle>
                  <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                  <mat-error>{{enddateErrorNessage()}}</mat-error> 
                </mat-form-field>   
            </div>              
        </div>
        <div class="d-flex justify-content-end">
            <button [disabled]="!AddNewUnitForm.valid" [ngClass]="{ 'animate__animated  animate__flipInx': !AddNewUnitForm.valid, 'animate__animated  animate__flipInY': AddNewUnitForm.valid }"  (click)="addNewUnit()"  class="btn btn-success">ADD NEW UNIT</button>
        </div>
    </form>
</main>
